<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма ввода</title>
</head>
<body>
<center>
  <h2>Cведения о клиентах, наиболее активно расходовавших баланс в заданный период времени</h2>
  <form action="" method="post">
    <label for="year">Введите город:</label>
    <input type="text" name="year" id="year">
      <p></p>
    <input type="submit" class="button" value="Отправить">
    <input type="reset" class="button" value="Очистить">


  </form>
</center>

</body>
</html>